<h2>Show post</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @post.user_id %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= @post.category %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

</ul>

<% if @current_user.id == @post.user_id do %>
  <%= link "Edit", to: post_path(@conn, :edit, @post) %>
  <%= link "Back", to: post_path(@conn, :index) %>
<% end %>
