.roundfield {
    width: 500px;
    background-color: #cee3f8;
    border-radius: 4px;
    padding: 5px 10px 10px 10px;
    font-size: large;
}

#newlink-with-image-upload .image-upload-drop-target {
    position: relative;
    content: '';
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px;
    border: 2px dashed #bbb;
    background-color: #fafafa;
    text-align: center;
}

#newlink-with-image-upload .file-drop-label-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-size: 100%;
    background-image: url(/images/sprite-newlink-image-upload.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 40px 119px;
}

#newlink-with-image-upload .file-upload-button {
    display: inline-block;
    cursor: pointer;
    padding: 4px 12px 3px;
    padding-right: 12px;
    border-radius: 3px;
    font-size: small;
    line-height: 20px;
    vertical-align: middle;
}

#newlink-with-image-upload .file-drop-label {
  display: inline-block;
  color: #ddd;
  padding-right: 16px;
  padding-left: 16px;
}

.c-btn-primary {
    background-color: #4f86b5;
    border-bottom: 2px solid #4270a2;
    color: #ffffff;
}

.c-form-group {
  margin-bottom: 10px;
  position: relative;
}

.roundfield .roundfield-content {
  margin-top: 5px;
  border: none;
  vertical-align: top
}

#newlink-with-image-upload #image-name {
  background: white;
  border: 1px solid grey;
  padding: 3px;
}

#newlink-with-image-upload .file-upload-button .file-upload-icon {
    background-size: 100%;
    background-image: url(/images/sprite-newlink-image-upload.png);
    background-position: 0px -101px;
    background-repeat: no-repeat;
    background-size: 40px 119px;
    pointer-events: none;
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

#newlink-with-image-upload .file-upload-button input[type=file] {
  display: none;
}

#newlink-with-image-upload .clear-input-button {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 18px;
  width: 18px;
  text-align: center;
  background: #ddd;
  line-height: 18px;
  font-size: 11px;
  border-radius: 50%;
  cursor: pointer;
}

#newlink-with-image-upload #new-link-image-preview img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto
}